* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
/* TOP */


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top img {
    width: 230px;
}

.formSections {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 0.4rem;

}

.form {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.middle input {
    border: none;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

span {
    margin: 0 0.5rem;
}

.locationInput {
    width: 17rem;
}

.searchBtn {
    position: absolute;
    right: 0;
}

.searchIcon {
    padding: 0.6rem 0.4rem;
    border-radius: 50%;
    background-color: rgb(242, 194, 201);
}

.right {
    color: black;
    border: 2px solid grey;
    border-radius: 30px;
    padding: 0.4rem;
}

.right a {
    margin: 0 0.5rem;
    color: black;
}


/* BOTTOM */

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.bottom nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-bottom: 1rem;
}

.bottom nav ul li {
    padding: 1rem;
}


.bottom nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

/* HEADER ENDS */


.homeBanner {
    border-top: 1px solid lightgrey;
    padding: 5px 0;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.homeBanner .container .leftPart {
    margin-right: 4rem;
}


.homeBanner .container .leftPart img {
    width: 450px;
    height: 650px;
    position: relative;
    z-index: -99;
}

.locationsName {
    position: absolute;
    bottom: -40px;
    color: #fff;
    z-index: 99;
}

.locationsName h1 {
    font-size: 2.4rem;
    margin-left: 0.8rem;
}

.locationsName p {
    background-color: rgb(241, 241, 16);
    display: inline-block;
    text-align: center;
    padding: 0.3rem 1rem;
    margin-left: 3rem;
    margin-top: 0.4rem;
    border-radius: 20px;
    font-weight: 600;
}

.arrows {
    position: absolute;
    bottom: -70px;
    left: 350px;
    color: #fff;
}

.arrows .arrowBackward {
    margin-right: 10px;
}

.arrows .arrowForward {
    margin-left: 10px;
}

.homeBanner .container .rightPart {
    margin-left: 2rem;
    padding: 2rem 1rem;
}

.rightPart h1 {
    display: inline-block;
    width: 70%;
    font-weight: 400;
    font-size: 3.3rem;
    padding-bottom: 1.3rem;
}

.rightPart h1 .colorChange {
    color: yellow;
}

.rightTop p {
    font-size: 1.4rem;
}

.rightPart .rightBottom .categories {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem 3rem 0;
    position: relative;
}

.rightPart .rightBottom .categories .category img {
    width: 290px;
    border-radius: 20px;
    /* position: absolute; */
    z-index: -99;
}

.rightPart .rightBottom .categories .category .texts {
    border: 2px solid wheat;
    box-shadow: 3px 3px 5px 3px grey;
    position: absolute;
    bottom: 30px;
    /* left: 1px; */
    padding: 0.5rem 5.2rem;
    background-color: white;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
}

.arrowsBtn .previousArrow,
.nextArrow {
    display: inline-block;
    border: 2px solid black;
    border-radius: 40px 40px 40px;
    padding: 5px;
    line-height: 1;
}